.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* CSS for Layout.js aka the navigation bar */


.navul {
  list-style-type: none;
  margin: 0;
  
}

.navli {
  display: inline;
  padding: 50px 50px;
  float: right;
  font-size: 22px;
  font-family: "Lucida Console", "Courier New", monospace;
  
  
}

.link {
  text-decoration: none;
  color: white;
  
}

.link:hover {
  color: #F24A68;
  /* #17BC9B*/
  font-weight: bold;
}

.navbar {
  position: absolute;
  top: 0px;
  background-color: #313F50;
  width: 100%;
  height: 130px;
  z-index: 1;
  overflow: hidden;
}

.logoImg {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}


/* Other CSS */

.body {
  padding-top: 130px;
  background-color: #E2E4D1;
  height: 100vh;
}

/*
.body.contact {
  padding-top: 100px;
}
*/